.button {
  padding: 0.6rem;
  font-size: 16px;
  max-width: 300px;
  background-color: #ffff;
  width: 180px;
  font-weight: 600;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .button {
    margin-top: 64px;
  }
}
